.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  display: flex;
}

.empty{
  height: 20px;
  width: 20px;
  background-color: black;
  margin: .5px;
}

.asteroid{
  height: 20px;
  width: 20px;
  background-color: red;
  margin: .5px;
}

.player-ship{
  height: 20px;
  width: 20px;
  background-color: blue;
  margin: .5px;
  color:white;
}

.movable{
  height: 20px;
  width: 20px;
  background-color: lightblue;
  margin: .5px;
}